<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldf.easy.dao.TownMapper">
  <resultMap id="BaseResultMap" type="com.ldf.easy.domain.mybatis.Town">
    <id column="_id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="town_id" jdbcType="VARCHAR" property="townId" />
    <result column="county_id" jdbcType="VARCHAR" property="countyId" />
  </resultMap>
  <sql id="Base_Column_List">
    _id, name, town_id, county_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from town
    where _id = #{id,jdbcType=INTEGER}
  </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from town
    where _id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ldf.easy.domain.mybatis.Town">
    insert into town (_id, name, town_id, 
      county_id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{townId,jdbcType=VARCHAR}, 
      #{countyId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ldf.easy.domain.mybatis.Town">
    insert into town
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        _id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="townId != null">
        town_id,
      </if>
      <if test="countyId != null">
        county_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="townId != null">
        #{townId,jdbcType=VARCHAR},
      </if>
      <if test="countyId != null">
        #{countyId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ldf.easy.domain.mybatis.Town">
    update town
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="townId != null">
        town_id = #{townId,jdbcType=VARCHAR},
      </if>
      <if test="countyId != null">
        county_id = #{countyId,jdbcType=VARCHAR},
      </if>
    </set>
    where _id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ldf.easy.domain.mybatis.Town">
    update town
    set name = #{name,jdbcType=VARCHAR},
      town_id = #{townId,jdbcType=VARCHAR},
      county_id = #{countyId,jdbcType=VARCHAR}
    where _id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultType="com.ldf.easy.domain.vo.TownVo">
    select
      town_id AS townId,
      name
    from town
  </select>
</mapper>